* {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
  }
  header {
    background-color: #ffa451;
    height: 470px;
    width: auto;
    border: none;
    border-radius: 32px 32px 0px 0px;
    top: 0;
    left: 0;
  }
  
  .image-fruit {
    padding: 100px 35px 4px 35px;
    width: 80%;
    height: 60%;
  }
  .ellipse {
    padding: 4px 30px 34px 40px;
    height: 3%;
    width: 80%;
  }
  
  section.content {
    font-family: "Amiko", sans-serif;
    width: 327px;
    height: 200px;
    padding: 46px 24px 88px 24px;
    padding-top: 46px;
    border-radius: 0px 0px 32px 32px;
  }
  
  .text {
    width: 282px;
    height: 134px;
    left: 46px;
    top: 515px;
    text-align: center;
    padding-left: 30px;
  }
  .heading {
    font-weight: lighter;
    font-size: 30px;
    padding-right: 25px;
  }
  
  .para {
    padding: 25px 30px 15px 10px;
    font-size: 15px;
    opacity: 90%;
    text-align: center;
  }
  .button {
    padding: 19px 24px 80px 24px;

  }
 .btn-continue {
    width: 295px;
    height: 56px;
    background-color: #ffa451;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;

  }


  @media only screen and (min-width: 768px){
    header {
        width: 100%;
        height: 589px;
        border-radius: 0px;
    }
    section.content{
        width: 627px;
        height: 200px;
    }
    .text {
        width: 630px;
        height: 240px;
    }
 
    .image-fruit {
        width: 65%;
        height: 70%;
      }
      .ellipse {
        width: 70%;
  }

  .heading {
    font-size: 50px;
}
.para{
    font-size: 33px;
}

.btn-continue {
    width: 100%;
    height: 76px;
    font-size: 30px;
}

}
  @media only screen and (min-width: 1024px){
    header {
        height: 100%;
    }
    .text {
        width: 100%;
        height: 100%;
    }
 
    .image-fruit {
        width: 60%;
      }
      .ellipse {
        width: 80%;}

        section.content {
            width: 746px;
            height: 260px;
        }
        .para{
     width: 80%;
     padding: 25px 5px 31px 35px;
}
.heading {
    font-size: 60px;
    padding-right: 100px;
}
.btn-continue {
    font-size: 38px;
  }